
adapt
black
branca
contextily
countryinfo
earthengine-api
fastcore
fastparquet
fastprogress
fasttreeshap
filprofiler
fiona
folium
gdal
gdown
geopandas
# geowrangler
# git+https://github.com/thinkingmachines/geowrangler.git
# use latest version not yet on pypi
git+https://github.com/thinkingmachines/geowrangler.git@feat/optimize-bingtilegrid
haversine
hdx-python-api
jupyterlab==3.6.4
jupyterlab-vim
libclang
lightgbm
line-profiler
loguru
mapclassify
matplotlib
nbdime
numpy
osmium
pandas
papermill
pre-commit
pyarrow
pygeos --no-binary pygeos
pytest
pytest-cov
pytest-mock
pytest-xdist
pyyaml
# pyinquirer 
# replace with dev forked version 
git+https://github.com/butchtm/PyInquirer.git
rasterio
rasterstats
rio-cogeo
scikit-learn
seaborn
shap
shapely --no-binary shapely
tqdm
tune-sklearn
typed-ast