black
branca
earthengine-api
fastcore
fiona
folium
gdal
geopandas
# geowrangler
# use latest version not yet on pypi
git+https://github.com/thinkingmachines/geowrangler.git
haversine
jupyterlab
libclang
lightgbm
loguru
mapclassify
matplotlib
numpy
osmium
pandas
pre-commit
pygeos --no-binary pygeos
pytest
pytest-mock
pytest-cov
pytest-xdist
pyyaml
rasterio
rasterstats
scikit-learn
seaborn
shapely --no-binary shapely
tqdm
tune-sklearn
typed-ast
xgboost
adapt
rio-cogeo
fastprogress
countryinfo
pyarrow
fastparquet